In [1]:
import pandas as pd
import numpy as np
import os

os.chdir = ("E:\\FORE\\Term 2\\Python\\Data Class 7")
    
ts = pd.read_csv("E:\\FORE\\Term 2\\Python\\Data Class 7\\ETH_1h.csv")

In [2]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.3+ MB

In [3]:
ts.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [4]:
ts.shape

(23674, 7)

In [5]:
ts.head(1)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93

In [6]:
ts.iloc[0,]

Date      2020-03-13 08-PM
Symbol              ETHUSD
Open                129.94
High                131.82
Low                 126.87
Close               128.71
Volume          1940673.93
Name: 0, dtype: object

In [7]:
ts.iloc[0,0]

'2020-03-13 08-PM'

In [8]:
ts.loc[0,'Date']

'2020-03-13 08-PM'

In [9]:
ts['Date']=pd.to_datetime(ts["Date"],format='%Y-%m-%d %I-%p')

In [10]:
ts.loc[0,'Date'].day_name()

'Friday'

In [11]:
#ts['DayOfWeek']=ts

In [12]:
ts['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [13]:
ts['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [14]:
#access a column      df.col    df['name']

In [15]:
ts['Date'].max()-ts['Date'].min()

Timedelta('986 days 09:00:00')

In [16]:
filt=(ts['Date']>=pd.to_datetime('2020'))

In [17]:
filt

0         True
1         True
2         True
3         True
4         True
         ...
23669    False
23670    False
23671    False
23672    False
23673    False
Name: Date, Length: 23674, dtype: bool

In [18]:
ts.loc[filt]

                    Date  Symbol    Open    High     Low   Close      Volume
0    2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1    2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2    2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3    2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4    2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                  ...     ...     ...     ...     ...     ...         ...
1744 2020-01-01 04:00:00  ETHUSD  129.57  130.00  129.50  129.56   702786.82
1745 2020-01-01 03:00:00  ETHUSD  130.37  130.44  129.38  129.57   496704.23
1746 2020-01-01 02:00:00  ETHUSD  130.14  130.50  129.91  130.37   396315.72
1747 2020-01-01 01:00:00  ETHUSD  128.34  130.14  128.32  130.14   635419.40
1748 2020-01-01 00:00:00  ETHUSD  128.54  128.54  128.12  128.34   245119.91

[1749 rows x 7 columns]

In [19]:
#AL tradings in 2019

In [20]:
filt = (ts['Date'] >= pd.to_datetime('2019-01-01')) & (ts['Date'] < pd.to_datetime('2020-01-01'))
ts[filt]

                     Date  Symbol    Open    High     Low   Close      Volume
1749  2019-12-31 23:00:00  ETHUSD  128.33  128.69  128.14  128.54   440678.91
1750  2019-12-31 22:00:00  ETHUSD  128.38  128.69  127.95  128.33   554646.02
1751  2019-12-31 21:00:00  ETHUSD  127.86  128.43  127.72  128.38   350155.69
1752  2019-12-31 20:00:00  ETHUSD  127.84  128.34  127.71  127.86   428183.38
1753  2019-12-31 19:00:00  ETHUSD  128.69  128.69  127.60  127.84  1169847.84
...                   ...     ...     ...     ...     ...     ...         ...
10504 2019-01-01 04:00:00  ETHUSD  130.75  133.96  130.74  131.96  2791135.37
10505 2019-01-01 03:00:00  ETHUSD  130.06  130.79  130.06  130.75   503732.63
10506 2019-01-01 02:00:00  ETHUSD  130.79  130.88  129.55  130.06   838183.43
10507 2019-01-01 01:00:00  ETHUSD  131.62  131.62  130.77  130.79   434917.99
10508 2019-01-01 00:00:00  ETHUSD  130.53  131.91  130.48  131.62  1067136.21

[8760 rows x 7 columns]

In [21]:
ts.set_index('Date', inplace=True)

In [22]:
ts

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                     ...     ...     ...     ...     ...         ...
2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 6 columns]

In [23]:
ts['2019']   #ts.loc['2019'] would be better

<ipython-input-23-c00e7075cc37>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  ts['2019']   #ts.loc['2019'] would be better

                     Symbol    Open    High     Low   Close      Volume
Date
2019-12-31 23:00:00  ETHUSD  128.33  128.69  128.14  128.54   440678.91
2019-12-31 22:00:00  ETHUSD  128.38  128.69  127.95  128.33   554646.02
2019-12-31 21:00:00  ETHUSD  127.86  128.43  127.72  128.38   350155.69
2019-12-31 20:00:00  ETHUSD  127.84  128.34  127.71  127.86   428183.38
2019-12-31 19:00:00  ETHUSD  128.69  128.69  127.60  127.84  1169847.84
...                     ...     ...     ...     ...     ...         ...
2019-01-01 04:00:00  ETHUSD  130.75  133.96  130.74  131.96  2791135.37
2019-01-01 03:00:00  ETHUSD  130.06  130.79  130.06  130.75   503732.63
2019-01-01 02:00:00  ETHUSD  130.79  130.88  129.55  130.06   838183.43
2019-01-01 01:00:00  ETHUSD  131.62  131.62  130.77  130.79   434917.99
2019-01-01 00:00:00  ETHUSD  130.53  131.91  130.48  131.62  1067136.21

[8760 rows x 6 columns]

In [24]:
ts1=ts['2020-01': '2020-02']

In [25]:
ts1['Close'].mean()

195.16559027777814

In [26]:
ts1.loc['2020-01-01']['High'].max()

132.68

df1['High']

In [27]:
ts1['High'].resample('D').max()
#D hor daily

Date
2020-01-01    132.68
2020-01-02    130.19
2020-01-03    134.93
2020-01-04    135.75
2020-01-05    138.97
2020-01-06    144.51
2020-01-07    145.25
2020-01-08    148.00
2020-01-09    141.38
2020-01-10    145.81
2020-01-11    148.00
2020-01-12    146.60
2020-01-13    147.00
2020-01-14    170.83
2020-01-15    172.18
2020-01-16    167.28
2020-01-17    174.52
2020-01-18    179.32
2020-01-19    178.00
2020-01-20    169.30
2020-01-21    170.00
2020-01-22    171.05
2020-01-23    167.79
2020-01-24    164.21
2020-01-25    162.41
2020-01-26    167.59
2020-01-27    171.70
2020-01-28    176.50
2020-01-29    178.31
2020-01-30    186.89
2020-01-31    185.68
2020-02-01    184.20
2020-02-02    193.52
2020-02-03    195.21
2020-02-04    191.37
2020-02-05    207.93
2020-02-06    216.49
2020-02-07    224.78
2020-02-08    228.40
2020-02-09    230.90
2020-02-10    229.60
2020-02-11    239.92
2020-02-12    276.15
2020-02-13    278.01
2020-02-14    287.98
2020-02-15    290.00
2020-02-16    274.00
2020-02-17    269.00
2020-02-18    286.87
2020-02-19    287.13
2020-02-20    264.26
2020-02-21    268.71
2020-02-22    267.04
2020-02-23    276.62
2020-02-24    278.13
2020-02-25    266.24
2020-02-26    250.84
2020-02-27    239.00
2020-02-28    234.90
2020-02-29    233.32
Freq: D, Name: High, dtype: float64

In [28]:
ts1

                     Symbol    Open    High     Low   Close      Volume
Date
2020-02-29 23:00:00  ETHUSD  223.35  223.58  216.83  217.31  1927939.88
2020-02-29 22:00:00  ETHUSD  223.48  223.59  222.14  223.35   535998.57
2020-02-29 21:00:00  ETHUSD  224.63  225.14  222.74  223.48   561158.03
2020-02-29 20:00:00  ETHUSD  225.31  225.33  223.50  224.63   511648.65
2020-02-29 19:00:00  ETHUSD  225.09  225.85  223.87  225.31  1250856.20
...                     ...     ...     ...     ...     ...         ...
2020-01-01 04:00:00  ETHUSD  129.57  130.00  129.50  129.56   702786.82
2020-01-01 03:00:00  ETHUSD  130.37  130.44  129.38  129.57   496704.23
2020-01-01 02:00:00  ETHUSD  130.14  130.50  129.91  130.37   396315.72
2020-01-01 01:00:00  ETHUSD  128.34  130.14  128.32  130.14   635419.40
2020-01-01 00:00:00  ETHUSD  128.54  128.54  128.12  128.34   245119.91

[1440 rows x 6 columns]

In [29]:
ts1.resample('D').mean()

                  Open        High         Low       Close        Volume
Date
2020-01-01  130.558750  131.011250  130.177500  130.627500  3.128451e+05
2020-01-02  128.646250  128.873333  128.060833  128.505417  2.589808e+05
2020-01-03  130.772083  131.676667  130.173333  131.078750  4.849683e+05
2020-01-04  133.489167  133.930000  133.044167  133.487917  1.741295e+05
2020-01-05  136.002083  136.606667  135.528333  136.050833  2.577401e+05
2020-01-06  140.074167  141.022500  139.529583  140.444167  5.347353e+05
2020-01-07  142.662500  143.382500  142.026250  142.616250  5.741782e+05
2020-01-08  142.544583  143.329167  141.451667  142.441250  6.010870e+05
2020-01-09  138.482500  139.067917  137.799167  138.362083  3.520962e+05
2020-01-10  138.972083  139.954583  138.380000  139.264167  8.051148e+05
2020-01-11  143.968750  144.677083  143.142083  143.881667  3.186967e+05
2020-01-12  144.112917  144.822083  143.719167  144.278333  2.135082e+05
2020-01-13  143.486667  143.925833  142.989167  143.357917  2.637533e+05
2020-01-14  153.857083  156.050833  152.934583  154.784167  1.678985e+06
2020-01-15  164.582500  166.101667  162.982917  164.604583  1.138342e+06
2020-01-16  162.232917  163.228333  160.937917  162.134583  5.911392e+05
2020-01-17  168.462500  170.193750  167.294167  168.698333  9.495417e+05
2020-01-18  172.026667  173.381250  170.647917  172.212917  8.136554e+05
2020-01-19  170.262917  171.147917  168.703750  169.958333  7.954855e+05
2020-01-20  165.499167  166.330833  164.815417  165.496250  4.512894e+05
2020-01-21  167.297917  168.012500  166.655417  167.402500  4.269593e+05
2020-01-22  167.992917  168.490417  167.332917  167.930000  3.461337e+05
2020-01-23  162.909583  163.487083  161.924167  162.689583  4.648686e+05
2020-01-24  160.462500  161.390417  159.450833  160.458333  5.821649e+05
2020-01-25  159.796667  160.524167  159.159167  159.705833  2.442409e+05
2020-01-26  162.713333  163.528750  162.342083  163.014583  3.049362e+05
2020-01-27  168.345833  169.208750  167.633750  168.446667  5.942120e+05
2020-01-28  171.605833  172.704583  170.982917  171.865000  7.320573e+05
2020-01-29  176.225000  176.945417  175.328333  176.119167  6.266358e+05
2020-01-30  176.609167  177.785833  175.676667  177.071667  7.726651e+05
2020-01-31  180.869583  181.635000  179.620000  180.669167  8.147759e+05
2020-02-01  181.992500  182.850833  181.262500  182.149167  4.984954e+05
2020-02-02  187.777083  188.902083  186.840417  187.976667  7.552826e+05
2020-02-03  189.520417  190.588750  188.498333  189.567500  7.053512e+05
2020-02-04  187.570833  188.395417  186.618333  187.521667  6.956695e+05
2020-02-05  195.420833  197.045833  194.678333  196.077500  1.173923e+06
2020-02-06  209.524167  211.148750  207.817500  209.897083  1.412817e+06
2020-02-07  219.250000  221.079583  218.242917  219.677917  1.479396e+06
2020-02-08  223.099583  224.527917  221.672917  223.105833  1.268794e+06
2020-02-09  227.359583  228.477500  226.430000  227.585833  1.054555e+06
2020-02-10  222.878750  223.994583  221.165000  222.630833  9.802630e+05
2020-02-11  225.917917  227.817917  224.970417  226.548333  1.626834e+06
2020-02-12  255.668750  258.593750  253.241250  256.856667  3.124116e+06
2020-02-13  267.927917  270.774583  264.842500  268.008333  2.908532e+06
2020-02-14  272.188750  274.437083  270.447917  272.932500  2.187841e+06
2020-02-15  277.302917  279.267083  274.383333  276.413333  2.852123e+06
2020-02-16  263.266667  265.901667  259.707917  262.999167  2.623903e+06
2020-02-17  253.748750  256.947500  250.987500  254.145833  2.163185e+06
2020-02-18  272.109583  274.700417  269.791250  272.746250  2.407639e+06
2020-02-19  278.757917  280.568750  274.952917  277.730833  2.683465e+06
2020-02-20  257.860000  259.908750  254.789583  257.807500  2.173492e+06
2020-02-21  262.497500  264.284583  260.739583  262.847500  1.482159e+06
2020-02-22  261.968333  263.060417  260.654583  261.813333  6.954060e+05
2020-02-23  269.603750  271.375417  268.724167  270.162083  1.177314e+06
2020-02-24  267.885000  269.530833  265.531667  267.461250  2.190130e+06
2020-02-25  256.860417  258.598333  254.151667  256.076667  1.586765e+06
2020-02-26  234.485000  236.616250  230.760417  233.526667  3.811772e+06
2020-02-27  226.392500  229.117500  223.685417  226.564583  3.189745e+06
2020-02-28  225.275000  227.444167  222.796667  225.264167  2.416752e+06
2020-02-29  226.601667  227.960000  224.735417  226.182500  8.795791e+05

In [30]:
ts.resample('W').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

                 Close    High     Low        Volume
Date
2017-07-02  268.202162  293.73  253.23  8.084631e+07
2017-07-09  261.062083  285.00  231.25  2.246746e+08
2017-07-16  195.698393  240.33  130.26  5.017750e+08
2017-07-23  212.783750  249.40  153.25  7.221637e+08
2017-07-30  203.309524  229.99  178.03  2.657305e+08
...                ...     ...     ...           ...
2020-02-16  255.198452  290.00  216.31  3.912867e+08
2020-02-23  265.321905  287.13  242.36  3.067838e+08
2020-03-01  236.373988  278.13  209.26  3.693920e+08
2020-03-08  229.817619  253.01  196.00  2.736569e+08
2020-03-15  176.332821  208.65   90.00  4.983998e+08

[142 rows x 4 columns]

In [31]:
ts.resample('M').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

                  Close     High     Low        Volume
Date
2017-07-31   220.010969   293.73  130.26  1.818282e+09
2017-08-31   298.511815   392.00  200.82  1.529929e+09
2017-09-30   298.524639   396.88  202.25  1.678947e+09
2017-10-31   305.649772   350.00  275.46  8.155377e+08
2017-11-30   355.646292   518.13  278.88  1.974056e+09
2017-12-31   629.898011   875.00  415.01  5.172910e+09
2018-01-31  1084.040390  1419.96  727.14  7.728885e+09
2018-02-28   872.098304  1143.00  555.56  4.123206e+09
2018-03-31   629.704341   878.00  365.00  2.028503e+09
2018-04-30   516.082944   711.00  360.00  1.899357e+09
2018-05-31   676.327298   828.97  507.00  2.241083e+09
2018-06-30   519.794347   627.83  404.22  1.254270e+09
2018-07-31   461.838898   515.88  418.23  7.496308e+08
2018-08-31   323.016788   435.48  250.28  9.676426e+08
2018-09-30   226.846583   302.20  167.00  1.006817e+09
2018-10-31   207.737043   234.92  185.06  4.391482e+08
2018-11-30   168.363889   222.78   98.20  7.365399e+08
2018-12-31   107.297769   159.51   80.60  7.690382e+08
2019-01-31   127.065578   160.61  100.90  5.248200e+08
2019-02-28   124.841324   165.62  100.15  4.142434e+08
2019-03-31   135.421263   147.00  122.75  2.903483e+08
2019-04-30   164.932083   187.62  138.81  6.483574e+08
2019-05-31   217.911048   288.77  155.91  1.688800e+09
2019-06-30   273.777194   364.49  226.56  1.424131e+09
2019-07-31   248.551371   318.60  190.11  1.102748e+09
2019-08-31   199.717043   239.45  163.57  4.874852e+08
2019-09-30   185.124028   224.71  152.11  5.349776e+08
2019-10-31   178.244677   199.50  153.00  4.693033e+08
2019-11-30   173.061431   194.60  131.80  3.593540e+08
2019-12-31   137.350040   153.00  116.25  2.547992e+08
2020-01-31   155.085739   186.89  125.52  4.195181e+08
2020-02-29   238.009569   290.00  178.98  1.252927e+09
2020-03-31   208.767994   253.01   90.00  8.036549e+08

In [32]:
ts.resample('Y').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

                 Close     High     Low        Volume
Date
2017-12-31  351.966277   875.00  130.26  1.298966e+10
2018-12-31  480.932120  1419.96   80.60  2.394412e+10
2019-12-31  180.752030   364.49  100.15  8.199368e+09
2020-12-31  197.568759   290.00   90.00  2.476100e+09