In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:

co2 = pd.read_csv("E:\\FORE\\Term 2\\Python\\co2.csv")
gm = pd.read_csv("E:\\FORE\\Term 2\\Python\\gapminder.csv")

In [3]:
co2.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0529,0.0637,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3800,1.2800,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2200,2.9900,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.3000,6.7500,6.5200,6.430,6.120,6.120,5.870,5.92,5.900,5.830
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9800,1.1000,1.2000,1.180,1.230,1.240,1.250,1.33,1.250,1.290

gm.head()

In [4]:
co2.tail()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
187,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.160,6.220,5.810,6.360,6.290,6.510,6.000,6.650,6.070,6.030
188,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.160,1.210,1.220,1.360,1.470,1.610,1.700,1.570,1.610,1.800
189,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.974,1.010,0.964,0.999,1.070,0.993,0.811,0.749,0.997,0.865
190,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.190,0.185,0.152,0.166,0.186,0.194,0.206,0.249,0.261,0.288
191,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.832,0.796,0.742,0.573,0.406,0.552,0.665,0.530,0.776,0.780

In [5]:
gm.head()

,Country,Year,fertility,life,population,child_mortality,gdp,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,South Asia

In [6]:
gm.tail()

,Country,Year,fertility,life,population,child_mortality,gdp,region
10106,Ã…land,2002,NaN,81.80,26257.0,NaN,NaN,Europe & Central Asia
10107,Ã…land,2003,NaN,80.63,26347.0,NaN,NaN,Europe & Central Asia
10108,Ã…land,2004,NaN,79.88,26530.0,NaN,NaN,Europe & Central Asia
10109,Ã…land,2005,NaN,80.00,26766.0,NaN,NaN,Europe & Central Asia
10110,Ã…land,2006,NaN,80.10,26923.0,NaN,NaN,Europe & Central Asia

In [7]:
# Remove duplicates from the gm Dataframe
df_gm=gm[['Country', 'region']].drop_duplicates()

In [8]:
df_gm.shape

(204, 2)

In [9]:
df_gm.head()

                 Country                      region
0            Afghanistan                  South Asia
50               Albania       Europe & Central Asia
100              Algeria  Middle East & North Africa
150               Angola          Sub-Saharan Africa
200  Antigua and Barbuda                     America

In [10]:
# Merge df-gm and co2
df_w_regions = pd.merge(co2, df_gm, left_on='country', right_on='Country', how='inner')

In [11]:
df_w_regions.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2007,2008,2009,2010,2011,2012,2013,2014,Country,region
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299,Afghanistan,South Asia
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960,Albania,Europe & Central Asia
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720,Algeria,Middle East & North Africa
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.2000,1.180,1.230,1.240,1.250,1.33,1.250,1.290,Angola,Sub-Saharan Africa
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.1400,5.190,5.450,5.540,5.360,5.42,5.360,5.380,Antigua and Barbuda,America

In [12]:
df_w_regions.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2007,2008,2009,2010,2011,2012,2013,2014,Country,region
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299,Afghanistan,South Asia
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960,Albania,Europe & Central Asia
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720,Algeria,Middle East & North Africa
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.2000,1.180,1.230,1.240,1.250,1.33,1.250,1.290,Angola,Sub-Saharan Africa
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.1400,5.190,5.450,5.540,5.360,5.42,5.360,5.380,Antigua and Barbuda,America

In [13]:
# Drop one of the country columns
df_w_regions = df_w_regions.drop('Country', axis='columns')

In [14]:
# Use .melt() function
new_co2 = pd.melt(df_w_regions, id_vars=['country', 'region'])

new_co2.head()

               country                      region variable  value
0          Afghanistan                  South Asia     1800    NaN
1              Albania       Europe & Central Asia     1800    NaN
2              Algeria  Middle East & North Africa     1800    NaN
3               Angola          Sub-Saharan Africa     1800    NaN
4  Antigua and Barbuda                     America     1800    NaN

In [15]:
new_co2.tail()

         country               region variable  value
37190    Vanuatu  East Asia & Pacific     2014  0.595
37191  Venezuela              America     2014  6.030
37192    Vietnam  East Asia & Pacific     2014  1.800
37193     Zambia   Sub-Saharan Africa     2014  0.288
37194   Zimbabwe   Sub-Saharan Africa     2014  0.780

In [16]:
# change the name of columns
columns = ['country', 'region', 'year', 'co2']
new_co2.columns = columns
new_co2.dtypes

country     object
region      object
year        object
co2        float64
dtype: object

In [17]:
df_co2 = new_co2[new_co2['year'].astype('int64') > 1963]
df_co2 = df_co2.sort_values(by=['country', 'year'])
df_co2['year'] = df_co2['year'].astype('int64')
df_co2.head()

           country      region  year     co2
28372  Afghanistan  South Asia  1964  0.0863
28545  Afghanistan  South Asia  1965  0.1010
28718  Afghanistan  South Asia  1966  0.1080
28891  Afghanistan  South Asia  1967  0.1240
29064  Afghanistan  South Asia  1968  0.1160

In [18]:
df_gdp = gm[['Country', 'Year', 'gdp']]
df_gdp.columns = ['country', 'year', 'gdp']
df_gdp.head()

       country  year     gdp
0  Afghanistan  1964  1182.0
1  Afghanistan  1965  1182.0
2  Afghanistan  1966  1168.0
3  Afghanistan  1967  1173.0
4  Afghanistan  1968  1187.0

In [19]:
data = pd.merge(df_co2, df_gdp, on=['country', 'year'], how='left')
data = data.dropna()
data.head()

       country      region  year     co2     gdp
0  Afghanistan  South Asia  1964  0.0863  1182.0
1  Afghanistan  South Asia  1965  0.1010  1182.0
2  Afghanistan  South Asia  1966  0.1080  1168.0
3  Afghanistan  South Asia  1967  0.1240  1173.0
4  Afghanistan  South Asia  1968  0.1160  1187.0

In [20]:
np_co2 = np.array(data['co2'])
np_gdp = np.array(data['gdp'])
np.corrcoef(np_co2, np_gdp)

array([[1.        , 0.78219731],
       [0.78219731, 1.        ]])

In [21]:
from bokeh.io import curdoc, output_notebook
from bokeh.plotting import figure, show
from bokeh.models import HoverTool, ColumnDataSource, CategoricalColorMapper, Slider
from bokeh.palettes import Spectral6
from bokeh.layouts import widgetbox, row

In [22]:
output_notebook()

In [23]:
regions_list = data.region.unique().tolist()

In [24]:
color_mapper = CategoricalColorMapper(factors=regions_list, palette=Spectral6)

In [25]:
# Make the ColumnDataSource: source
source = ColumnDataSource(data={
    'x': data.gdp[data['year'] == 1964],
    'y': data.co2[data['year'] == 1964],
    'country': data.country[data['year'] == 1964],
    'region': data.region[data['year'] == 1964],
})

In [26]:
# Save the minimum and maximum values of the gdp column: xmin, xmax
xmin, xmax = min(data.gdp), max(data.gdp)

# Save the minimum and maximum values of the co2 column: ymin, ymax
ymin, ymax = min(data.co2), max(data.co2)

In [27]:
# Create the figure: plot
plot = figure(title='CO2 Emissions vs GDP in 1964', 
              plot_height=600, plot_width=1000,
              x_range=(xmin, xmax),
              y_range=(ymin, ymax), y_axis_type='log')

In [28]:
# Add circle glyphs to the plot
plot.circle(x='x', y='y', fill_alpha=0.8, source=source, legend_label='region',
            color=dict(field='region', transform=color_mapper),
            size=7)

GlyphRenderer(id='1042', ...)

In [29]:
# Set the legend.location attribute of the plot
plot.legend.location = 'bottom_right'

# Set the x-axis label
plot.xaxis.axis_label = 'Income Per Person'

# Set the y-axis label
plot.yaxis.axis_label = 'CO2 Emissions (tons per person)'

show(plot)

In [30]:
# Adding Slicer

slider = Slider(start=min(data.year), end=max(data.year), step=1, value=min(data.year), title='Year')


def update_plot(attr, old, new):
    # set the `yr` name to `slider.value` and `source.data = new_data`
    yr = slider.value

    new_data = {
        'x': data.gdp[data['year'] == yr],
        'y': data.co2[data['year'] == yr],
        'country': data.country[data['year'] == yr],
        'region': data.region[data['year'] == yr],
    }
    source.data = new_data

In [31]:
# Add title to figure: plot.title.text
plot.title.text = 'CO2 Emissions vs GDP in %d' 
# % yr

In [32]:
# Attach the callback to the 'value' property of slider
slider.on_change('value', update_plot)

layout = row(widgetbox(slider), plot)
curdoc().add_root(layout)

BokehDeprecationWarning: 'WidgetBox' is deprecated and will be removed in Bokeh 3.0, use 'bokeh.models.Column' instead

In [33]:
# Adding Hover tool

# Create a HoverTool: hover
hover = HoverTool(tooltips=[('Country', '@country'), ('GDP', '@x'), ('CO2 Emission', '@y')])

# Add the HoverTool to the plot
plot.add_tools(hover)